
    {% extends "news/base.html" %}
    {% block content %}
    <!-- hero section -->
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Bridge Pa School</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="container">
      <div class="card-deck">
        {% for post in posts %}
        <!--Card for news -->
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">By {{ post.Author }} on {{ post.date_posted }}</p>
            <p class="card-text">{{ post.content }}</p>
            <a href="#" class="btn btn-primary">Read Panui</a>
          </div>
        </div>
      
      {% endfor %}
    </div>
  </div>
    {% endblock content %}

    
